$white: #FFF;

body {
	background-color: #000;
	padding-top: 50vh;
}
.jumbotron {
	background-image: url(http://cms.depechemode.com/api/uploads/2017/03/dsc00768.jpg);
	height: 50vh;
	background-size: cover;
	background-position: center;
	color: $white;
}
.text {
	color: $white;
	max-width: 300px;
	font-size: 20px;
	p {
		margin-top: 30px;
	}
}
footer {
	color: $white;
	margin-top: 35px;
	border-top: 1px solid $white;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	p {
		margin: 0 auto;
	}
	
}